/* Global Start */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-brand: #4D5AE5;
  --pressed-state: #404BBF;
  --dark: #2E2F42;
  --success: #31D0AA;
  --text: #434455;
  --subtle-text: #8E8F99;
  --accent: #E7E9FC;
  --light: #F4F4FD;
  --modal-overlay: #2E2F4266;
  --hero-bg: #2E2F42B2;
  --white-bg: #FFFFFF;
  --modal-bg: #FCFCFC;
}
body {
  color: var(--text);
  background-color: var(--white-bg);
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 120px 0;
}
button {
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: inherit;
}
.nav-list-item.active {
  color: #404BBF !important;
}
.block-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto
  
}
/* Hover and Focus Start */
.footer-p:hover {
  color: #404BBF
}
/* Hover and Focus End */
/* Global End */

/*Home Page Start*/
.header {
  border-bottom: #e7e9fc 1px solid;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.list {
  display: flex;
}
.logo {
  color: var(--primary-brand);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-header {
  margin-right: 76px;
}
.nav-logo-span {
  color: var(--dark);
}
.logo-span {
  color: var(--light);
}
.navbar-list {
  display: flex;
  gap: 40px;
}
.nav-item {
  padding: 24px 0;
}
.nav-list-item {
  color: var(--dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link:hover, .link:focus {
  color: #404BBF;
}
.address-section {
  font-style: normal;
}
.addr-ul {
  list-style: none;
}
.address-list {
  gap: 40px;
}
.addr-a {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.main-section {
  width: 100%;
  height: 600px;
  background-color: var(--dark);
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.main-header {
  max-width: 496px;
}
.main-title {
  color: var(--white-bg);
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.main-button {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  height: 56px;
  border: none;
  background-color: #4d5ae5;  
  border-radius: 4px;
  cursor: pointer;
}
.main-btn {
  color: var(--white-bg);
  margin-top: 48px;
  padding: 16px 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px 0px #00000026;
}
.main-btn:hover, .main-btn:focus {
  background-color: var(--pressed-state);
}
/* Features */
.features-title {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 72px;
}
.visually-hidden {
  display: none;
}
.features-list {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 24px
}
.features-card {
  flex-basis: calc((100% - 72px) / 4)
}
.header-card {
  margin-bottom: 8px;
}
.features-header {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.third-title {
  color: var(--dark);
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.third-header {
  margin-bottom: 72px;
}
.third-cards {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 24px;
}
.third-list {
  flex-basis: calc((100% - 3 * 16px) / 3)
}
.ourteam-section {
  width: 100%;
  background-color: var(--light);
}
.ourteam-list {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 24px;
}
.ourteam-title {
  color: var(--dark);
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.ourteam-card {
  background-color: var(--white-bg);
}
.ourteam-header {
  color: var(--dark);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.ourteam-p {
  color: var(--text);
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-section {
  width: 100%;
  background-color: var(--dark);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.footer-p {
  color: var(--light);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*Home Page End*/
/* Portfolio Start */
.portfolio-filters-header {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-filters-p {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-btn {
  color: var(--primary-brand);
  background-color: var(--light);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--white-bg);
  background-color: var(--pressed-state);
}
.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  gap: 24px;
}
.cards {
  flex-basis: calc((100% - 20px) / 3);
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
}
/* Portfolio End */